body{
  background-color: #f4f4f4 !important;
}
.table-wrapper{
  background-color: #fff;
}
.table thead tr th{background-color: blue;
  color:#fff
}

.header-main{
  background-color: #0dcaf0; 
  box-shadow: 2px 2px 11px #d0d0d0;
  min-height: 50px;
}